<div id="imb-footer">
    <style>
        #imb-footer {
            margin-top: auto;
            margin-bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 20px;
            /* Add some padding for spacing */
            background-color: #f4f4f4;
            /* Optional: footer background color */
            z-index: 10;
            /* Ensure it appears above content */
        }

        .bottom-lists {
            display: flex;
            justify-content: space-between;
            /*position: absolute;
            bottom: 0;
            left: 0;
            right: 0;*/
            padding: 10px;
            margin-top: auto;
            /* Optional background color */
        }

        #imb-footer  ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 5px 0;
            font-size: 10px;
        }


        .social-list {
            list-style-type: none;
            /* Remove default list styling (bullets) */
            margin: 0;
            /* Remove default margin */
            padding: 0;
            /* Remove default padding */
            display: flex;
            /* Use flexbox to align items horizontally */
            justify-content: space-around;
            /* Distribute items evenly */
            max-width: 150px;
            /* Limit width of list */
        }

        .social-list li {
            margin: 0 10px;
            /* Add some space between items */
        }

        .social-list a {
            text-decoration: none;
            /* Remove underline from links */
            color: #333;
            /* Set text color */
            font-size: 16px;
            /* Optional: Adjust font size */
        }


        /* Media Query for smaller screens (max-width: 768px) */
        @media screen and (max-width: 768px) {
            footer {
                flex-direction: column;
                /* Stack items vertically on smaller screens */
            }

            .bottom-lists {
                flex-direction: column;
                /* Stack items vertically */
                gap: 10px;
                /* Add space between stacked items */
                /* Reduce padding-bottom for smaller screens */
            }
        }
    </style>

    <div class="bottom-lists">
        <div style="max-width: 200px;">
            <h4>100% of your gift goes directly to missionaries and
                their ministries overseas</h4>
            <div>
                <a href="https://www.guidestar.org/profile/shared/31e8b023-c808-469f-8065-77ac2c081441"
                    target="_blank"><img src="https://widgets.guidestar.org/TransparencySeal/7795039" width="90ox"></a>
                &nbsp;
                <a href="https://www.ecfa.org/MemberProfile.aspx?ID=18648" target="_blank"><img
                        src="https://www.ecfa.org/Images/Header/ECFA_logo_2color.svg" width="90ox"></a>
            </div>
        </div>
        <div>
            <h5>
                Get to Know Us
            </h5>
            <ul>

                <li>
                    <a href="https://www.imb.org/about/" target="_self">About
                        IMB</a>
                </li>


                <li>
                    <a href="https://www.imb.org/financialtransparency/" target="_self">Financials</a>
                </li>


                <li>
                    <a href="https://www.imb.org/newsroom/" target="_self">Newsroom &amp; Stories</a>
                </li>


                <li>
                    <a href="https://www.imb.org/about/lottie-moon/" target="_self">Who Is Lottie Moon?</a>
                </li>


                <li>
                    <a href="https://www.imb.org/careers/" target="_self">U.S.
                        Careers</a>
                </li>

            </ul>
        </div>
        <div>
            <h5>
               Get Started
            </h5>
            <ul>

                <li>
                    <a href="https://www.imb.org/get-involved/" target="_self">Get Involved</a>
                </li>


                <li>
                    <a href="https://www.imb.org/opportunity-finder/" target="_self">Find a Mission Trip</a>
                </li>


                <li>
                    <a href="https://www.imb.org/training/" target="_self">Training</a>
                </li>


                <li>
                    <a href="https://www.imb.org/speaker-request/" target="_self">Speaker Requests</a>
                </li>

            </ul>
        </div>
        <div>
            <h5>
                Support
            </h5>
            <ul>

                <li>
                    <a href="https://www.imb.org/give/login/" target="_self">Account Login</a>
                </li>


                <li>
                    <a href="https://www.imb.org/help/" target="_self">Help</a>
                </li>


                <li>
                    <a href="https://www.imb.org/help/" target="_self">FAQs</a>
                </li>


                <li>
                    <a href="https://www.imb.org/privacy-policy/" target="_self">Privacy Policy</a>
                </li>


                <li>
                    <a href="https://www.imb.org/contact-us/" target="_self">Contact Us</a>
                </li>

            </ul>
        </div>
        <div style="max-width: 140px;  ">
            <div>
                <ul class="social-list">
                    <li>

                        <a href="https://www.facebook.com/imb.sbc/" target="_blank"
                            class="siteFooterNewTop__socialListItemLink">
                            <img src="https://www.imb.org/wp-content/uploads/2025/02/Group-802.svg"
                                class="attachment-6000xAuto size-6000xAuto" alt="" decoding="async" loading="lazy"> </a>
                    </li>
                    <li>

                        <a href="https://www.instagram.com/imbmissions/?hl=en" target="_blank"
                            class="siteFooterNewTop__socialListItemLink">
                            <img src="https://www.imb.org/wp-content/uploads/2025/02/Group-803.svg"
                                class="attachment-6000xAuto size-6000xAuto" alt="" decoding="async" loading="lazy"> </a>
                    </li>
                    <li>

                        <a href="https://x.com/imb_sbc" target="_blank" class="siteFooterNewTop__socialListItemLink">
                            <img src="https://www.imb.org/wp-content/uploads/2025/02/Group-804.svg"
                                class="attachment-6000xAuto size-6000xAuto" alt="" decoding="async" loading="lazy"> </a>
                    </li>

                </ul>
                <ul>

                    <li>
                        <a href="https://maps.app.goo.gl/jJbxFREsZWJQR88y6" target="_blank">
                            <div>3806 Monument Ave. Richmond,
                                VA 23230</div>
                        </a>
                        <p></p>
                    </li>

                    <li>
                        <div>
                            <a href="tel:8043530151" target="_self">804.353.0151</a>

                            <p>8:30am-5:00pm&nbsp;EST</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div style="position: absolute; bottom: 0; left: 0; width: 100%;  text-align: center;padding-top: 10px ;">

        <hr style="border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);" />
        <p>©2025 International Mission Board, SBC | The Lottie
            Moon Christmas Offering® is a registered trademark of Woman's Missionary Union.</p>

    </div>
</div>
</div>



</div>